<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class="container">
    <h1>area measurement program</h1>
    <div>
        <a href="/katha">1 = Katha to square_feet</a>
    </div>
    <div>
        <a href="/bigha">2 = Bigha to square_feet</a>
    </div>
    <div>
         <a href="/bigha">3 = Bigha to katha</a>
    </div>
    <div>
         <a href="/hector">4 = Hector to square_feet</a>
    </div>
    <div>
         <a href="/hector">5 = Hector to katha</a>
    </div>
    <div>
         <a href="/hector">6 = Hector to bigha</a>
    </div>
</div>
</body>
</html>
